@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  --tw-bg-opacity: 1;
  color: rgb(59 130 246 / var(--tw-bg-opacity));
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  --tw-text-opacity: 1;
  background: rgb(59 130 246 / var(--tw-text-opacity));
  border-radius: 10px;
  border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(29 78 216 / var(--tw-text-opacity));
}
